*
{
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
}

html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 2rem 0;

    height: 100%;
    background-color: #577590;
    color: #364481;
}

main, header
{
    background-color: #FAE9B2;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

h1
{
    border-bottom: 2px solid #364481;
    margin: 0;
}

main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    height: 90%;
}

.widgets
{
    margin: 1em 0;
}

#generate
{
    display: inline-block;

    width: 200px;
    height: 50px;

    font-size: 1.5rem;

    border-radius: 20px;
    border: 2px solid #161925;
    background-color: #97DFFC;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    transition-duration: 0.4s;
}

#generate:hover
{
    background-color: #364481;
    color: white;
}

#result
{
    display: grid;
    max-height: 65%;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 3fr 3fr;

    font-size: 1.5rem;
}

#result h2
{
    margin: auto 0;

    font-size: 1.2em;
}

#result img
{
    height: 25%;
    margin: auto 0 auto auto;
}

#result .ability
{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
}

#result #types
{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}

#result #types div
{
    display: flex;
    justify-content: center;
    width: 100%;

    border-radius: 20px;
}

#result #types div p
{
    align-self: center;
}

#result .moveList
{
    display: flex;
    justify-content: center;
    height: 100%;

    font-size: 1.5rem;

    border-radius: 20px;
    background: #EFEFEF;
}

#result .moveList p
{
    align-self: center;
}

/* Type-based colors taken from https://bulbapedia.bulbagarden.net/wiki/Type */
.normal
{
    background-color: #A8A878;
    border: 2px solid #6D6D4E;
}

.fighting
{
    background-color: #C03028;
    border: 2px solid #7D1F1A;
}

.flying
{
    background-color: #A890F0;
    border: 2px solid #6D5E9C;
}

.poison
{
    background-color: #A040A0;
    border: 2px solid #682A68;
}

.ground
{
    background-color: #E0C068;
    border: 2px solid #927D44;
}

.rock
{
    background-color: #B8A038;
    border: 2px solid #786824;
}

.bug
{
    background-color: #A8B820;
    border: 2px solid #6D7815;
}

.ghost
{
    background-color: #705898;
    border: 2px solid #493963;
}

.steel
{
    background-color: #B8B8D0;
    border: 2px solid #787887;
}

.fire
{
    background-color: #F08030;
    border: 2px solid #9C531F;
}

.water
{
    background-color: #6890F0;
    border: 2px solid #445E9C;
}

.grass
{
    background-color: #78C850;
    border: 2px solid #4E8234;
}

.electric
{
    background-color: #F8D030;
    border: 2px solid #A1871F;
}

.psychic
{
    background-color: #F85888;
    border: 2px solid #A13959;
}

.ice
{
    background-color: #98D8D8;
    border: 2px solid #638D8D;
}

.dragon
{
    background-color: #7038F8;
    border: 2px solid #4924A1;
}

.dark
{
    background-color: #705848;
    border: 2px solid #49392F;
}

.fairy
{
    background-color: #EE99AC;
    border: 2px solid #9B6470;
}